/development/silver-seed/target/
/development/silver-seed/silver-seed-common/target/
/development/silver-seed/silver-seed-common/.settings/
/development/silver-seed/silver-seed-query-parent/silver-seed-query-showcase/target/
/development/silver-seed/silver-seed-query-parent/silver-seed-query-showcase/.settings/