.table-normal {
    border-width: 1px;
}


.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main-header {
    background: -moz-linear-gradient(center top , #F8F8F8, #F2F2F2) repeat scroll 0% 0% transparent;
    padding: 8px 20px;
    border-bottom: 1px solid #FFF;
    box-shadow: 0px 1px 1px #FFF inset;
}

.control-section {
    padding:15px;
}